<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">Facebook Analysis</a></h1>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="left">
			<li class="<%= head == "list" ? "active" : "" %>"><a href="/">List</a></li>
			<li class="<%= head == "analysis" ? "active" : "" %>"><a href="/analysis">Analysis</a></li>
			<li class="<%= head == "stat" ? "active" : "" %>"><a href="/statistic">Statistic</a></li>
		</ul>
	</section>
</nav>